<header class="header sticky-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header_wrapper_inner">
                   
                    <div class="logo col-xs-12">
                        <a routerLink="index.html">
                            <img src="assets/img/logo/logo.png" alt="">
                        </a>
                    </div>
                    
                    
                    <div class="main_menu_inner">
                      
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li class="active"><a routerLink="index.html">Home <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu">
                                            <li><a routerLink="index.html">Home Version 1</a></li>
                                            <li><a routerLink="index-2.html">Home Version 2</a></li>
                                            <li><a routerLink="index-3.html">Home Version 3</a></li>
                                            <li><a routerLink="index-4.html">Home Version 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink="about.html">about us </a> </li>
                                    <li><a routerLink="shop.html">shop</a>  </li>
                                    <li><a routerLink="blog.html">Blog </a>
                                    </li>
                                    <li class="mega_parent"><a routerLink="#">Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="mega_menu">
                                            <li class="mega_item">
                                               <a class="mega_title" routerLink="#">Column 1</a>
                                               <ul>
                                                  
                                                   <li><a routerLink="shop.html">Shop page</a></li>
                                                   <li><a routerLink="shop-right-sidebar.html">Shop Right sidebar</a></li>
                                                   <li><a routerLink="shop.html">shop Left Sidebar</a></li>
                                                   <li><a routerLink="product-details.html">product Details</a></li>
                                                   <li><a routerLink="my-account.html">My account</a></li>
                                               </ul> 
                                            </li> 
                                            <li class="mega_item">
                                               <a class="mega_title" routerLink="#">Column 2</a>
                                               <ul>
                                                   <li><a routerLink="wishlist.html">Wishlist</a></li>
                                                   <li><a routerLink="cart.html">Cart</a></li>
                                                   <li><a routerLink="checkout.html">Checkout</a></li>
                                                   <li><a routerLink="login.html">login</a></li>
                                                   <li><a routerLink="register.html">Register</a></li>
                                               </ul> 
                                            </li>
                                            <li class="mega_item">
                                               <a class="mega_title" routerLink="#">Column 3</a>
                                               <ul>
                                                  
                                                   <li><a routerLink="about.html">About us</a></li>
                                                   <li><a routerLink="contact.html">Contact Us</a></li>
                                                   <li><a routerLink="blog.html">blog Page</a></li>
                                                   <li><a routerLink="blog-details.html">blog Details</a></li>
                                                   <li><a routerLink="404.html">Error pages</a></li>
                                               </ul> 
                                            </li>
                                        </ul>    
                                    </li>
                                    <li><a routerLink="#">vegetable</a></li>
                                 </ul>
                            </nav>
                        </div>
                        
                        <div class="mobile-menu d-lg-none">
                            <nav>
                                 <ul>
                                    <li class="active"><a routerLink="index.html">Home</a>
                                        <ul>
                                            <li><a routerLink="index.html">Home Version 1</a></li>
                                            <li><a routerLink="index-2.html">Home Version 2</a></li>
                                            <li><a routerLink="index-3.html">Home Version 3</a></li>
                                            <li><a routerLink="index-4.html">Home Version 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink="about.html">about us </a></li>
                                    <li><a routerLink="shop.html">shop</a>  </li>
                                    <li><a routerLink="blog.html">Blog </a>
                                    </li>
                                    <li><a routerLink="#">Pages</a>
                                        <ul>
                                            <li>
                                               <a routerLink="#">Column 1</a>
                                               <ul>
                                                  
                                                   <li><a routerLink="shop.html">Shop page</a></li>
                                                   <li><a routerLink="shop-right-sidebar.html">Shop Right sidebar</a></li>
                                                   <li><a routerLink="shop.html">shop Left Sidebar</a></li>
                                                   <li><a routerLink="product-details.html">product Details</a></li>
                                                   <li><a routerLink="my-account.html">My account</a></li>
                                               </ul> 
                                            </li> 
                                            <li>
                                               <a routerLink="#">Column 2</a>
                                               <ul>
                                                   <li><a routerLink="wishlist.html">Wishlist</a></li>
                                                   <li><a routerLink="cart.html">Cart</a></li>
                                                   <li><a routerLink="checkout.html">Checkout</a></li>
                                                   <li><a routerLink="login.html">login</a></li>
                                                   <li><a routerLink="register.html">Register</a></li>
                                               </ul> 
                                            </li>
                                            <li>
                                               <a routerLink="#">Column 3</a>
                                               <ul>
                                                  
                                                   <li><a routerLink="about.html">About us</a></li>
                                                   <li><a routerLink="contact.html">Contact Us</a></li>
                                                   <li><a routerLink="blog.html">blog Page</a></li>
                                                   <li><a routerLink="blog-details.html">blog Details</a></li>
                                                   <li><a routerLink="404.html">Error pages</a></li>
                                               </ul> 
                                            </li>
                                        </ul>    
                                    </li>
                                    <li><a routerLink="#">vegetable</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header_right_info d-flex">
                        <div class="search_box">
                            <div class="search_inner">
                                <form action="#">
                                    <input type="text" placeholder="Search our catalog">
                                    <button type="submit"><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="mini__cart">
                            <div class="mini_cart_inner">
                                <div class="cart_icon">
                                    <a routerLink="#">
                                        <span class="cart_icon_inner">
                                            <i class="ion-android-cart"></i>
                                            <span class="cart_count">2</span>
                                        </span>
                                        <span class="item_total">$65.00</span>
                                    </a>
                                </div>
                                <!--Mini Cart Box-->
                                <div class="mini_cart_box cart_box_one">
                                    <div class="mini_cart_item">
                                        <div class="mini_cart_img">
                                            <a routerLink="#">
                                                <img src="assets/img/cart/1.jpg" alt="">
                                                <span class="cart_count">1</span>
                                            </a>
                                        </div>
                                        <div class="cart_info">
                                            <h5><a routerLink="product-details.html">Mushroom Burger</a></h5>
                                            <span class="cart_price">$75.99</span>
                                        </div>
                                        <div class="cart_remove">
                                            <a routerLink="#"><i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </div>
                                    <div class="mini_cart_item">
                                        <div class="mini_cart_img">
                                            <a routerLink="#">
                                                <img src="assets/img/cart/2.jpg" alt="">
                                                <span class="cart_count">1</span>
                                            </a>
                                        </div>
                                        <div class="cart_info">
                                            <h5><a routerLink="#">Country Burger</a></h5>
                                            <span class="cart_price">$48.99</span>
                                        </div>
                                        <div class="cart_remove">
                                            <a routerLink="#"><i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="price_content">
                                        <div class="cart_subtotals">
                                            <div class="price_inline">
                                                <span class="label">Subtotal </span>
                                                <span class="value">$143.49 </span>
                                            </div>
                                            <div class="price_inline">
                                                <span class="label">Shipping </span>
                                                <span class="value">$7.00</span>
                                            </div>
                                            <div class="price_inline">
                                                <span class="label">Taxes </span>
                                                <span class="value">$0.00</span>
                                            </div>
                                        </div>
                                        <div class="cart-total-price">
                                            <span class="label">Total </span>
                                            <span class="value">$85.99</span>
                                        </div>
                                    </div>
                                    <div class="min_cart_checkout">
                                        <a routerLink="checkout.html">Checkout</a>
                                    </div>
                                </div>
                                <!--Mini Cart Box End -->
                            </div>
                        </div>
                        <div class="header_account">
                            <div class="account_inner">
                                <a routerLink="#"><i class="ion-gear-b"></i></a>
                            </div>
                            <div class="content-setting-dropdown">
                                <div class="language-selector-wrapper">
                                    <div class="language-selector">
                                        <ul>
                                            <li><a routerLink="#"><img src="assets/img/1.jpg" alt="English"><span class="expand-more">English</span></a></li>
                                            
                                            <li><a routerLink="#"><img src="assets/img/banner/frances2.jpg" alt="Language"><span class="expand-more">Français</span> </a></li>	
                                            
                                        </ul>

                                    </div>
                                    <div class="currency-selector-wrapper">
                                        <ul>
                                            <li><a routerLink="#">EUR $</a></li>
                                            <li><a routerLink="#">USD $</a></li>
                                        </ul>
                                    </div>
                                    <div class="user_info_top">
                                        <ul>
                                            <li><a routerLink="my-account.html">my account</a></li>
                                            <li><a routerLink="checkout.html">Checkout</a></li>
                                            <li><a routerLink="login.html">Sign in</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>